<!doctype html>
<html>
<head>
	<title> GPIO INPUT/OUTPUT DEMO  </title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />  

</head>
<body>
<div class="onoff"><a href="/on/">ON</a></div>
<div class="onoff"><a href="/off/">OFF</a></div>
<div class="onoff"><a href="/sensor/">THC</a></div>

<br/>
<p>LED is now <span id="state">{{state }}</span>state. </p>
<br/>
<p>Temp: <span id="temp">{{temp}}</span>.</p>
<br/>
<p>Humi: <span id="humi">{{humi}}</span>.</p>
<br/>
<p>Cds: <span id="cds">{{cds}}</span>.</p>

</body>
</html>
